[*.cs]

# IDE0022: Usar cuerpo del bloque para el método
csharp_style_expression_bodied_methods = false

# IDE0022: Usar cuerpo del bloque para el método
dotnet_diagnostic.IDE0022.severity = silent

# IDE0058: El valor de la expresión no se utiliza nunca.
csharp_style_unused_value_expression_statement_preference = unused_local_variable

# IDE0058: El valor de la expresión no se utiliza nunca.
dotnet_diagnostic.IDE0058.severity = warning
