<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/466030b0-821a-4e8b-94a1-47dd14a7ceb2/resourceGroups/az-gen-rg-eu1-dev-ixm-nexus/providers/Microsoft.ContainerRegistry/registries/ixmnexusmicrouser</ResourceId>
    <ResourceName>ixmnexusmicrouser</ResourceName>
    <ResourceGroup>az-gen-rg-eu1-dev-ixm-nexus</ResourceGroup>
    <Subscription>AzureDev Nexus</Subscription>
    <RegistryUrl>https://ixmnexusmicrouser.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>115f5efd-610f-4164-9d77-9cc51093da2d</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>